{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Get all your home decoration items">
    <meta name="author" content="Michael Asomugha">
    <title>RADEUR</title>




    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="{% static 'cover.css' %}" rel="stylesheet">
    <style>
    </style>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column justify-content-center">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">RADEUR</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="{% url "schema-redoc" %}">DOCS</a>
                    <a class="nav-link fw-bold py-1 px-0" href="https://github.com/Michael-Lyon/radeur">GITHUB</a>
                </nav>
            </div>
        </header>

        <section class="main">
            <main class="px-3">
                <h1>Welcome to Radeur</h1>
                <p class="lead">
                    Radeur is a community-driven, open-source project dedicated to simplifying the search for reliable internet
                    service providers in Nigeria.
                </p>
                <p class="lead">
                    Faced with the challenge of choosing the right network in a specific area, many of us end up trying multiple
                    ISPs before finding a suitable match. Radeur aims to alleviate this hassle. By collecting and showcasing user
                    ratings for different network providers, along with their service locations, we empower you to make informed
                    decisions based on collective experiences.
                </p>
                <p class="lead">
                    Dive into a pool of user insights and find the ISP that fits your needs—be it for speed, reliability, or
                    coverage.
                </p>
                <p class="lead">
                    <a href="{% url "schema-swagger-ui" %}" class="btn btn-lg btn-light fw-bold border-white bg-white">View Doc</a>
                    <a href="https://github.com/Michael-Lyon/radeur/tree/main" class="btn btn-lg btn-light fw-bold border-white bg-white">Github Repo</a>
                </p>
            </main>

        </section>


    </div>



</body>

</html>